<h1>Crear Mensaje</h1>
<%= form_with(model: @message, method: :post) do |form| %>

 <div class="field">
    <%= form.label :enviar_a %><br />
    <%= form.collection_select :email_receptor, User.all, :email, :email %>
  </div>

 <div class="field">
    <%= form.label :enviado_por %><br />
    <%= form.text_field :email_emisor, autocomplete: "email_emisor" %>
  </div>

  <div class="field">
    <%= form.label :mensaje %><br />
    <%= form.text_field :body, autocomplete: "body" %>
  </div>
  <div class="action">
  <%= form.submit "Crear mensaje"%>
<% end %>