<div class="container" style="width:65%; border-style:solid; border-width:15px; border-color: white; border-radius:5%; background-color: #1F2833;">
  <div>
    <h1 style="color:white;"><strong>Inicio de sesión</strong></h1> <button><%= link_to 'Admin Log in', admin_user_session_path %></button>
  </div>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <div class="field" style="margin-top: 5px; margin-left: auto; margin-right: auto; text-align: center;">
        <h3 style="color:white;"><%= f.label :email %><br /></h3>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

    <div class="field" style="margin-left: auto; margin-right: auto; width:70%; text-align: center;">
      <h3 style="color:white;"><%= f.label :contraseña %><br /></h3>
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>

    
    <% if devise_mapping.rememberable? %>
      <div class="field" style="margin-top: 15px; margin-left: auto; margin-right: auto; width:70%; text-align: center;">
        <span style="color:white;"><%= f.check_box :remember_me %>
        <%= f.label :remember_me %></span>
      </div>
    <% end %>


    <div class="actions" style="margin-top: 5px; margin-left: auto; margin-right: auto; width:70%; text-align: center;">
      <%= f.submit "Entrar" %>
    </div>

  <% end %>

  <div style="margin-left: auto; margin-right: auto; text-align: center; margin-top:5px; margin-bottom:30px;">
    <%= render "users/shared/links" %>
  </div>
</div>


<% if alert %>
    <div class="alert alert-danger" role="alert" style="margin-top: 5px; margin-left: auto; margin-right: auto; width:70%; text-align: center;">
        <%= alert %>
    </div>
<% end %>
