
<div class="container" style="text-align:center; width:95%; border-style:solid; border-width:5px; border-color: white; background-color: lightgray; padding-bottom: 8px">

    <h1 style="color:#1F2833"><strong>¿Aceptar publicación?</strong></h1>

    <%= notice %>

    <%= form_with(model: @publication, method: :patch, url: publications_update_admin_path) do |form| %>
        <div class="field">
            <%= form.hidden_field :title %>
        </div>

        <div class="field">
            <%= form.hidden_field :species %>
        </div>

        <div class="field">
            <%= form.hidden_field :type %>
        </div>

        <div class="field">
            <%= form.hidden_field :price %>
        </div>

        <div class="field">
            <%= form.hidden_field :direction %>
        </div>

        <div class="field">
            <%= form.collection_select :accepted, Fake.all, :accepted, :accepted %>
        </div>


        <div class="action">
            <%= form.submit "Enviar" %>
        </div>
    <% end %>
</div>


<div style="text-align:center">
    <h1 style="color: white;"><strong><%= @publication.title %></strong></h1>
</div><br>

<%= image_tag(@publication.image, style: "border-style:solid; border-width:medium; border-color: dodgerblue; border-radius:4%; width:550px; margin-left: auto; margin-right: auto; display: block;") %>

<div class="container"  style="width:85%; border-style:solid; border-width:medium; border-color: dodgerblue; border-radius:2%; background-color: white; margin-top:50px; margin-bottom:10px; padding:10px; align-content: center">

    <h2 style="color: #1F2833"><strong>Tipo de publicación: </strong><%= @publication.typo %></h2>
    <h2 style="color: #1F2833"><strong>Especie</strong> <%= @publication.species %></h2>
    <h2 style="color: #1F2833"><strong>Precio:</strong> <%= @publication.price %></h2><br>
    <h5 style="color: #1F2833"><strong>Dirección de entrega</strong> <%= @publication.direction %></h3>

</div>