<% if notice %>
    <div class="alert alert-success" role="alert" style="margin-left: auto; margin-right: auto; width:70%; text-align: center;">
        <p class="notice"><%= notice %></p>
    </div>
<% end %>

<% if alert %>
    <div class="alert alert-danger" role="alert" style="margin-left: auto; margin-right: auto; width:70%; text-align: center;">
        <p class="alert"><%= alert %></p>
    </div>
<% end %>



<h1>Agregar texto de bienvenida en app/views/welcome/index</h1>

<!-- Formato de posts obtenido de https://bootstrapdocs.com/v3.3.6/docs/components/#thumbnails -->

<div class="row" style="width:95%; margin-left: auto; margin-right: auto;">
    <% @publications.each do |publication| %>
        <% if publication.accepted != "false" %>
            <div class="col-sm-6 col-md-4" style="width:33%;">
                <div class="thumbnail" style="border-style:solid; border-width:7px; border-color: black;">
                    <%= image_tag(publication.image, style: "height:180px; width:95%; border-style:solid; border-width:medium; border-color: #323233;") %>
                    <div class="caption">
                        <h2 style="margin-bottom:1px"><strong><%= publication.title %></strong></h2>
                        <h3 style="margin-top:1px"><%= publication.typo %></h3>
                        <p><strong>Especie:</strong> <%= publication.species %></p>
                        <p><strong>Precio:</strong> <%= publication.price %></p>
                        <p><a href="/publications/<%= publication.id %>" class="btn btn-primary" role="button">Ver Detalles</a></p>
                    </div>
                </div>
            </div>
        <% end%>
    <% end%>
</div>
