<h1>Reseñas</h1>
<div style="border: solid 3px; width: 150px; padding: 1px; align-text: center; margin: 1px;">
<p><%= link_to 'Escribir nueva reseña', reviews_new_path %></p>
</div>
<% @reviews.each do |review| %>
    <% @users.each do |user| %>
        <% if user.id == review.id_reviewed %>
            <h1>-----------------------------------------------------------------------</h1>
            <p>
                <strong>Reseña sobre:</strong> 
                <%= user.name %>
            </p>
        <% end %>
        <% if user.id == review.id_user %>
            <p>
                <strong>Escrita por:</strong> 
                <%= user.name %>
            </p>
            <p><%= review.content %></p>
            <h5> <%= link_to 'Ver detalles', reviews_show_path(review.id) %> </h5>
        <% end %>

    <% end %>
<% end %>
