<h1>Nueva Reseña</h1>

<h1 style="color:white">id reviewer <%= @review.id_user %></h1>
<h1 style="color:white">id reviewed <%= @review.id_reviewed %></h1>

<%= form_with(model: @review, method: :post) do |form| %>

    <%= form.text_field :id_reviewed, :id_reviewed => @review.id_reviewed %>
    <h2>espacio</h2>
    <%= form.text_field :id_user, :id_user => current_user.id %>

    <div class="field">
        <h4>Escribe tu reseña:</h4>
        <%= form.text_field :content %>
    </div>

    <h4></h4>

    <div class="action">
        <%= form.submit "Crear reseña"%>
    </div>

<% end %>