<h1>Nueva Reseña</h1>

<%= form_with(model: @review, method: :post) do |form| %>

    <%= form.hidden_field :id_reviewed, :id_reviewed => @review.id_reviewed %>
    <h2>espacio</h2>
    <%= form.hidden_field :id_user, :id_user => current_user.id %>

    <div class="field">
        <h4>Escribe tu reseña:</h4>
        <%= form.text_field :content %>
    </div>

    <div class="field">
        <table>
            <thead>
                <tr>
                    <th style="margin-left: auto; margin-right: auto; text-align: center;"> 1 </th>
                    <th style="margin-left: auto; margin-right: auto; text-align: center;"> 2 </th>
                    <th style="margin-left: auto; margin-right: auto; text-align: center;"> 3 </th>
                    <th style="margin-left: auto; margin-right: auto; text-align: center;"> 4 </th>
                    <th style="margin-left: auto; margin-right: auto; text-align: center;"> 5 </th>
                </tr>
            </thead>

            <tbody>
                <tr>
                
                    <td> <button type="button" class="btn btn-default btn-lg"> <span class="glyphicon glyphicon-star" aria-hidden="true"></span> <%= form.radio_button :rating, 1 %> </button> </td>
                    <td> <button type="button" class="btn btn-default btn-lg"> <span class="glyphicon glyphicon-star" aria-hidden="true"></span> <%= form.radio_button :rating, 2 %> </button> </td>
                    <td> <button type="button" class="btn btn-default btn-lg"> <span class="glyphicon glyphicon-star" aria-hidden="true"></span> <%= form.radio_button :rating, 3 %> </button> </td>
                    <td> <button type="button" class="btn btn-default btn-lg"> <span class="glyphicon glyphicon-star" aria-hidden="true"></span> <%= form.radio_button :rating, 4 %> </button> </td>
                    <td> <button type="button" class="btn btn-default btn-lg"> <span class="glyphicon glyphicon-star" aria-hidden="true"></span> <%= form.radio_button :rating, 5 %> </button> </td>
                </tr>
            </tbody>
        </table>
    </div>

    <h4></h4>

    <div class="action">
        <%= form.submit "Crear reseña"%>
    </div>

<% end %>