<h1>Nueva Rese単a</h1>
<%= form_with(model: @review, method: :post) do |form| %>
    <div class="field">
        <h4>Contenido:</h4>
        <%= form.text_field :content %>
    </div>

    <div class="field">
        <h4>Rese単a de:</h4>
        <%= form.collection_select :id_reviewed, User.all, :id, :name %>
    </div>

    <div class="field">
        <h4>Autor de esta rese単a: </h4>
        <%= form.collection_select :id_user, User.all, :id, :name %>
    </div>

    <h4></h4>

    <div class="action">
        <%= form.submit "Crear rese単a"%>
    </div>

<% end %>