<!DOCTYPE html>
<html>
  <head>
    <title>Proyecto</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</head>

  <body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
    <% @users = User.all %>
    <% if current_user %>
      <% @users.each do |user| %>
        <% if user.id == current_user.id %>
        <div class="item"><h3>
          <%= user.name %>
          </h3></div>
        <% end %>
      <% end %>   
      <%= link_to "Sign out", destroy_user_session_path, method: :delete %>

      <%= link_to "Edit", edit_user_registration_path, method: :get %>

      <%= link_to "Profiles", users_path, method: :get %>

      <%= link_to "Publicaciones", publications_index_path, method: :get %>
      
      <%= link_to "Reseñas", reviews_index_path %>

      <%= link_to "Chat", conversations_path %>
      
    <% else %>
      <%= link_to "Sign in", new_user_session_path, method: :get %>
      <%= link_to "Sign up", new_user_registration_path, method: :get %>

    <% end %>
    <%= yield %>
  </body>
</html>
