<!DOCTYPE html>
<html>
  <head>
    <title>Proyecto</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
    <% if current_user %>
      <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
      <%= link_to "Edit", edit_user_registration_path, method: :get %>
      <%= link_to "Profiles", users_path, method: :get %>
      
      </div>
      <div style="border: solid 3px; width: 150px; padding: 1px; align-text: center; margin: 1px;">
      <%= link_to "Buzón de mensajes", messages_index_path %>
      </div>
      
      <div style="border: solid 3px; width: 150px; padding: 1px; align-text: center; margin: 1px;">
      <%= link_to "Reseñas", reviews_index_path %>
      </div>
      
    <% else %>
      <%= link_to "Sign in", new_user_session_path, method: :get %>
      <%= link_to "Register", new_user_registration_path, method: :get %>

    <% end %>
    <%= yield %>
  </body>
</html>
